doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title slick-sample
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='author', name='author')
    meta(content='description', name='description')
    meta(content='keywords', name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='telephone=no', name='format-detection')

    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', media='all')

    // build:css styles/vendor.css
    link(rel='stylesheet', href='../bower_components/slick-carousel/slick/slick.css', media='all')
    // endbuild

    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    h1.heading slick
      span the last carousel you'll ever need

    .container
      section.slick
        h2.slick__heading Normal
        .slick-normal
          - for (var i = 0; i < 5; i++)
            img(src="images/slick__img-#{i+1}.jpg" alt="")

      section.slick
        h2.slick__heading Autoplay
        .slick-autoplay
          - for (var i = 0; i < 5; i++)
            img(src="images/slick__img-#{i+1}.jpg" alt="")

      section.slick
        h2.slick__heading Fade
        .slick-fade
          - for (var i = 0; i < 5; i++)
            img(src="images/slick__img-#{i+1}.jpg" alt="")

      section.slick
        h2.slick__heading Slider Syncing
        .slick-sync
          - for (var i = 0; i < 5; i++)
            img(src="images/slick__img-#{i+1}.jpg" alt="")
        .slick-nav
          - for (var i = 0; i < 5; i++)
            .slick-nav__item
              img(src="images/carousel__thumbnail-#{i+1}.jpg" alt="")

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/slick-carousel/slick/slick.min.js')
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/script.js')
    // endbuild
